
 @import url('https://fonts.googleapis.com/css?family=Teko');

.app {
  text-align: center;
}

.navbar {
  display:flex;
  justify-content:center;
  font-family: 'Teko', sans-serif;
  font-size:24px;
  font-weight: bold;
  background-color: transparent !important;
  font-color: #4a4a4a;
}

.active {
  text-decoration: underline;
}

.about-container{
  background-color: #eeeeee;
  height: 96vh;
  margin: 1%;
  overflow: hidden;
}

.contact-container {
  background-color: #eeeeee;
  height: 96vh;
  margin: 1%;
  overflow: hidden;
}

.work-container {
  background-color: transparent;
  height: 96vh;
  margin: 1%;
  overflow: visible;
}

.greeting-container {
  height: 100%;
  display: flex;
  padding: 10vh 10vw;
  flex-direction: column;
  justify-content: center;
}

.greeting-title {
  font-family: 'Teko', sans-serif;
  font-size: 3.8em;
  line-height: 1.4em;
  word-wrap: break-word;
  letter-spacing: 2px !important;
  font-weight: bold;
}

.greeting-subtitle {
  padding-top: 5vh;
}

.next-arrow {
  pading-right: 20vh;
}

.work-icon {
  padding-top: 3vh;
}

.no-link {
  visibility: hidden;
}

.work-tile {
  font-family: 'Teko', sans-serif;
  display: block !important;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.work-title {
  font-color: #4a4a4a !important;
  font-weight: bold;
  font-size: 2em;
  letter-spacing: 2px !important;
  display: inline;
}

.contact-title {
  font-color: #4a4a4a !important;
  font-weight: bold;
  font-size: 4.8em;
  letter-spacing: 2px !important;
  display: inline;
}

.contact-subtitle {
  font-color: #4a4a4a !important;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 2px !important;
}

.details-container {
  padding-top: 25vh;
  font-family: 'Teko', sans-serif;
}

.work-tile:hover  {
  background-color: #FFDE02 !important;
  font-color: #4a4a4a !important;
}

.work-tile:hover .work-keyword {
  background-color: #fff !important;
  font-color: #4a4a4a !important;
}

.work-active {
  background-color: #FFDE02 !important;
  font-color: #4a4a4a !important;
  font-family: 'Teko', sans-serif;
  display: block !important;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.work-active .work-keyword {
  background-color: #fff !important;
  font-color: #4a4a4a !important;
  font-size: 1em;
  padding-right: 3px;
  padding-left: 3px;
  margin-right: 5px;
  letter-spacing: 1px !important;
}

.work-keyword {
  font-color: #4a4a4a !important;
  font-size: 1em;
  background-color: #FFDE02;
  padding-right: 3px;
  padding-left: 3px;
  margin-right: 5px;
  letter-spacing: 1px !important;
}


.tiles {
  padding-top: 5vh;
}

.cards {
  padding-top: 10vh;
}

.is-about {
  background-color: #FFDE02 !important;
  border-color: transparent !important;
  font-family: 'Teko', sans-serif;
  font-size: 24px !important;
  padding: 6px 30px !important;
  margin: 5px auto !important;
  font-size: 1.15em !important;
  letter-spacing: 1px !important;
}

.highlighted{
  background-color: #FFDE02;
}

.is-white {
  background-color: #fff !important;
}

.modal-next {
  margin-right: 40vh;
}

.modal-back {
  margin-left: 40vh;
}
.is-grey{
  background-color: #eeeeee;
}

a:link {
    color: #4a4a4a;
}

/* visited link */
a:visited {
    color: #4a4a4a;
}

ul li{
  display: inline;
}

/* mouse over link */
a:hover {
    color: #4a4a4a;
}

/* selected link */
a:active {
    color:#4a4a4a;
}

html, body{
  background-color: #fff;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

