
 @import url('https://fonts.googleapis.com/css?family=Teko');

.App {
  text-align: center;
}

.navbar {
  display:flex;
  justify-content:center;
  font-family: 'Teko', sans-serif;
  font-size:24px;
  font-weight: bold;
  background-color: transparent !important;
  font-color: #4a4a4a;
}

.active {
  text-decoration: underline;
}

.about-container{
  background-color: #eeeeee;
  height: 96vh;
  margin: 1%;
  overflow: hidden;
}

.work-container {
  background-color: #fff;
  height: 96vh;
  margin: 1%;
  overflow: hidden;
}

.contact-container {
  background-color: #eeeeee;
  height: 96vh;
  margin: 1%;
  overflow: hidden;
}

.greeting-container {
  height: 100%;
  display: flex;
  padding: 15vh 10vw;
  flex-direction: column;
  justify-content: center;
}

.greeting-title {
  font-family: 'Teko', sans-serif;
  font-size: 3.8em;
  line-height: 1.4em;
  word-wrap: break-word;
  letter-spacing: 2px !important;
  font-weight: bold;
}

.greeting-subtitle {
  padding-top: 5vh;
}

.is-about {
  background-color: #FFDE02 !important;
  border-color: transparent !important;
  font-family: 'Teko', sans-serif;
  font-size: 24px !important;
  padding: 6px 30px !important;
  margin: 5px auto !important;
  font-size: 1.15em !important;
  letter-spacing: 1px !important;
}

.highlighted{
  background-color: #FFDE02;
}

a:link {
    color: #4a4a4a;
}

/* visited link */
a:visited {
    color: #4a4a4a;
}

/* mouse over link */
a:hover {
    color: #4a4a4a;
}

/* selected link */
a:active {
    color:#4a4a4a;
}

html, body{
  background-color: #fff;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

