
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navbar {
  display:flex;
  justify-content:center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size:24px;
  background-color: transparent !important;
}

.active {
  text-decoration: underline;
}

.main-container{
  background-color: #eef3f4;
  height: 96vh;
  margin: 1%;
  overflow: hidden;
}

html, body{
  background-color: #fff;
  height: 100%;
  min-height: 100%;
  width: 100%;
}

